.footer__two-box_follow-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 0;
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 200;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}