.footer__one-title {
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 200;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 317px;
  margin: 0;
}

@media screen and (max-width: 420px){
  .footer__one-title {
    margin-top: 30px;
    margin-left: -20px;
  }
}