.hero {
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}