.footer__two-box_pnct {
  width: 254px;
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 24px;
}