.rectangle__card {
  width: 235px;
  height: 88px;
  list-style-type: none;
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
  padding-top: 40px;
  border: 1px solid white;
  text-decoration: none;
}

.rectangle__card:hover {
  background-color: #1F3F68;
}