.footer__two-box_name {
  font-family: 'Gilroy';
  font-style:  normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin: 0;
  margin-left: 64px;
  margin-bottom: 9px;
}